<div id="hero" class="wrapper-dark">
	<div class="gradient-vertical"></div>
	<div class="row">
		<img id="hero-product" class="small-pos-abs columns small-6" src="{{ file-path }}media/product/bluenote/bluenote-hero.png" alt="Blue Note"/>
		<img id="musician-lee-moran" class="small-pos-abs columns small-6" src="{{ file-path }}media/product/bluenote/musician-leemoran.jpg" alt="Lee Moran"/>
		<div class="copy columns medium-pos-abs medium-offset-5 medium-7 small-pos-abs small-offset-4 small-8">
			<h1 class="blue-light">{{{ hero.header }}}</h1>
			<p class="large"><strong>{{{ hero.paragraph }}}</strong></p>
			<p class="blue-light large"><strong>{{{ hero.availability }}}</strong></p>
			<a href="{{{ hero.button-link }}}" class="button cta small">{{{ hero.button }}}<span class="icon-right-dir"></span></a>
			<a href="{{{ hero.button-link }}}" class="button cta tiny">{{{ hero.button }}}<span class="icon-right-dir"></span></a>
			<div class="logos">
				<img class="sonos-logo logo" src="{{ file-path }}media/sonos-logo.svg">
				<span class="line"></span>
				<img class="bluenote-logo logo" src="{{ file-path }}media/bluenote-logo.svg">
			</div>
		</div>
	</div>
</div>
<div id="years-75" class="wrapper">
	<div class="row">
		<img id="musician-donald-byrd" class="columns image medium-10 small-11" src="{{ file-path }}media/product/bluenote/75.png" alt="Donald Byrd"/>
		<div class="copy columns large-offset-6 large-6 medium-pos-abs medium-offset-5 medium-7 medium-uncentered small-pos-abs small-12">
			<div class="columns large-12 medium-11 medium-uncentered small-10 small-centered">
				<h2 class="white">{{{ year-seventyfive.header }}}</h2>
				<p>{{{ year-seventyfive.paragraph }}}</p>
			</div>
		</div>
	</div>
</div>
<div id="look-and-feel" class="wrapper-dark">
	<div class="gradient-vertical"></div>
	<div class="row">
		<div class="quote columns large-7 medium-pos-abs medium-6 medium-uncentered small-12">
			<div class="columns large-12 medium-11 small-11 small-centered">
				<h1 class="blue-light">{{{ look-and-feel.quote }}}</h1>
				<p><strong>{{{ look-and-feel.credit }}}</strong></p>
			</div>
		</div>
		<img id="bluenote-tall" class="columns image medium-offset-6 medium-uncentered small-8 small-centered" src="{{ file-path }}media/product/bluenote/bluenote-tall.png" alt="Blue Note"/>
		<div class="copy columns large-7 medium-pos-abs medium-6 medium-uncentered small-pos-abs small-12">
			<div class="container columns large-12 medium-11 medium-uncenetered small-10 small-centered">
				<h2 class="white">{{{ look-and-feel.header }}}</h2>
				<p class="white">{{{ look-and-feel.paragraph }}}</p>
			</div>
		</div>
	</div>
</div>
<div id="close-up" class="wrapper-dark">
	<div class="row">
		<img id="bluenote-closeup" class="image columns medium-pos-abs medium-7" src="{{ file-path }}media/product/bluenote/bluenote-closeup.jpg" alt="Blue Note"/>
		<div class="copy columns large-offset-6 large-6 medium-pos-abs medium-offset-6 medium-6 medium-uncentered small-pos-abs small-12">
			<div class="container columns large-12 medium-11 medium-uncenetered small-10 small-centered">
				<h2 class="white">{{{ close-up.header }}}</h2>
				<p>{{{ close-up.paragraph }}}</p>
			</div>
		</div>
	</div>
</div>
<div id="apps" class="wrapper">
	<div class="row">
		<div class="mask">
			<img id="phones" class="image columns medium-pos-abs small-10 small-centered" src="{{ file-path }}{{{ apps.image }}}" alt="TuneIn"/>
		</div>
		<div class="copy columns large-7 medium-pos-abs medium-6 medium-uncentered small-pos-abs small-12">
			<div class="container columns large-12 medium-11 medium-uncenetered small-10 small-centered">
				<h2 class="white">{{{ apps.header }}}</h2>
				<p>{{{ apps.paragraph }}}</p>
				<div class="logos">
					<img class="tunein-logo logo" src="{{ file-path }}media/tunein-logo.svg">
					<span class="line"></span>
					<img class="bluenoteonsonos-logo logo" src="{{ file-path }}media/bluenoteonsonos-logo.svg">
				</div>
			</div>
		</div>
	</div>
</div>
<div id="art-blakey" class="wrapper-dark">
	<div class="row">
		<img id="musician-art-blakey" class="image columns medium-pos-abs medium-6" src="{{ file-path }}media/product/bluenote/musician-artblakey.jpg" alt="Art Blakey"/>
		<div class="copy columns medium-offset-6 medium-6 medium-uncentered small-10 small-centered">
			<h1 class="blue-light">{{{ art-blakey.header }}}</h1>
			<p id="credit"><strong>{{{ art-blakey.credit }}}</strong></p>
			<div class="logos">
				<img class="sonos-logo logo" src="{{ file-path }}media/sonos-logo.svg">
				<span class="line"></span>
				<img class="bluenote-logo logo" src="{{ file-path }}media/bluenote-logo.svg">
			</div>
		</div>
	</div>
</div>