<div class="contain-to-grid fixed" data-move>
	<div class="direct-buy-bar">
		<nav data-topbar data-options="is_hover: false; back_text: <span class='icon-left-dir'></span> Back;"
				 class="top-bar sonos-bar">
			<section class="top-bar-section">
				<ul class="left">
					<li>
						<div class="row collapse">
							<div class="columns small-12">
								{{#if header.direct-buy.message}}
									<a id="#direct-buy-message" data-reveal-id="direct-buy-message" class="message white">{{ header.direct-buy.message }}</a>
								{{/if}}
							</div>
						</div>
					</li>
				</ul>
				<ul class="right show-for-large-up" data-move-from>
					<li class="has-dropdown" data-move-element>
						<a>{{ header.direct-buy.sales-help.link-title }}</a>
						<ul class="dropdown">
							<li class="label">
								<label>{{ header.direct-buy.sales-help.dropdown.speak-label }}</label>
							</li>
							<li><a
									href="http://www.sonos.com/{{ lang-locale }}/contact">{{ header.direct-buy.sales-help.dropdown.speak-call-link }}</a>
							</li>
							<li class="label">
								<label>{{ header.direct-buy.sales-help.dropdown.info-label }}</label>
							</li>
							<li><a
									href="http://www.sonos.com/{{ lang-locale }}/top-pre-purchase-questions">{{ header.direct-buy.sales-help.dropdown.info-questions-link }}</a>
							</li>
							<li>
								<a data-reveal-id="videoDemo">{{ header.direct-buy.sales-help.dropdown.info-video-demo }}</a>

								<div id="videoDemo" class="reveal-modal theater large" data-reveal data-background-color="dark">
									<div class="video-support-container">
										<div class="embed-single-video">
											<div data-tube data-video-id="{{ header.direct-buy.sales-help.dropdown.video-demo-id }}"></div>
										</div>
									</div>
									<a class="close-reveal-modal">&times;</a>
								</div>
							</li>
							<li class="label">
								<label>{{ header.direct-buy.sales-help.dropdown.order-label }}</label>
							</li>
							<li><a
									href="http://www.sonos.com/{{ lang-locale }}/support/policies">{{ header.direct-buy.sales-help.dropdown.order-returns-link }}</a>
							</li>
						</ul>
					</li>
				</ul>
			</section>
		</nav>
	</div>
	<nav data-topbar data-options="is_hover: false; back_text: <span class='icon-left-dir'></span> Back;"
			 class="top-bar sonos-bar">
		<ul class="title-area">
			<li class="name">
				{{#is lang-locale "en-us"}}
					<h1><a href="http://www.sonos.com">Sonos</a></h1>
				{{/is}}
				{{#isnt lang-locale "en-us"}}
					<h1><a href="http://www.sonos.com/{{ lang-locale }}">Sonos</a></h1>
				{{/isnt}}
			</li>
			<li class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="left">
				<li class="has-dropdown">
					<a>{{ header.what-is-sonos.link-title }}</a>
					<ul class="dropdown">
						<li class="sep hide-for-medium-down"></li>
						<li><a href="http://www.sonos.com/{{ lang-locale }}/system">{{ header.what-is-sonos.dropdown.system }}</a>
						</li>
						<li><a
								href="http://www.sonos.com/{{ lang-locale }}/streaming-music">{{ header.what-is-sonos.dropdown.music }}</a>
						</li>
						<li><a href="http://www.sonos.com/{{ lang-locale }}/app">{{ header.what-is-sonos.dropdown.app }}</a></li>
						<li class="sep hide-for-medium-down"></li>
					</ul>
				</li>
				<li class="has-dropdown">
					<a>{{ header.product-overview.link-title }}</a>
					<ul class="dropdown">
						<li class="sep hide-for-medium-down"></li>
						<li><a
								href="http://www.sonos.com/{{ lang-locale }}/products/wireless-speakers">{{ header.product-overview.dropdown.speakers }}</a>
						</li>
						<li><a
								href="http://www.sonos.com/{{ lang-locale }}/products/wireless-home-theater">{{ header.product-overview.dropdown.home-theater }}</a>
						</li>
						<li><a
								href="http://www.sonos.com/{{ lang-locale }}/products/wireless-stereo-components">{{ header.product-overview.dropdown.components }}</a>
						</li>
						<li class="sep hide-for-medium-down"></li>
					</ul>
				</li>
				<li class="has-dropdown">
					<a>{{ header.shop.link-title }}</a>
					<ul class="dropdown">
						<li class="sep hide-for-medium-down"></li>
						<li><a
								href="http://www.sonos.com/{{ lang-locale }}/sonos-shop">{{ header.shop.dropdown.all-products-link }}</a>
						</li>
						<li class="label">
							<label>{{ header.shop.dropdown.speakers-label }}</label>
						</li>
						<li><a
								href="http://www.sonos.com/{{ lang-locale }}/sonos-shop/products/play1">{{ header.shop.dropdown.play1 }}</a>
						</li>
						<li><a
								href="http://www.sonos.com/{{ lang-locale }}/sonos-shop/products/play3">{{ header.shop.dropdown.play3 }}</a>
						</li>
						<li><a
								href="http://www.sonos.com/{{ lang-locale }}/sonos-shop/products/play5">{{ header.shop.dropdown.play5 }}</a>
						</li>
						<li class="label">
							<label>{{ header.shop.dropdown.home-theater-label }}</label>
						</li>
						<li><a
								href="http://www.sonos.com/{{ lang-locale }}/sonos-shop/products/playbar">{{ header.shop.dropdown.playbar }}</a>
						</li>
						<li><a
								href="http://www.sonos.com/{{ lang-locale }}/sonos-shop/products/sub">{{ header.shop.dropdown.sub }}</a>
						</li>
						<li class="label">
							<label>{{ header.shop.dropdown.components-label }}</label>
						</li>
						<li><a
								href="http://www.sonos.com/{{ lang-locale }}/sonos-shop/products/connectamp">{{ header.shop.dropdown.connect-amp }}</a>
						</li>
						<li><a
								href="http://www.sonos.com/{{ lang-locale }}/sonos-shop/products/connect">{{ header.shop.dropdown.connect }}</a>
						</li>
					</ul>
				</li>
				<li><a href="http://www.sonos.com/{{ lang-locale }}/support">{{ header.support }}</a></li>
			</ul>
			<ul class="right stack">
				<li data-move-to><a href="http://www.sonos.com/shop/shoppingcart.aspx"><span class="icon-basket"></span></a>
				</li>
				<li><a href="http://www.sonos.com/storelocator"><span class="icon-location"></span> {{ header.find-a-store }}
				</a></li>
				<li><a data-reveal-id="countryLanguage">{{ header.language }}</a></li>
				<li><a href="https://www.sonos.com/login/?ReturnUrl=/">{{ header.sign-in }}</a></li>
			</ul>
		</section>
	</nav>
</div>

<div id="countryLanguage" class="language-selector-container reveal-modal theater medium" data-reveal data-background-color="dark">
	<a class="close-reveal-modal">×</a>
	<div class="row language-selector panel collapse dark">
		<div class="columns small-12">
			<div data-select-language class="row">
				<div class="columns small-12 large-centered">
					<h2>{{ header.choose-your-language }}</h2>
					<hr>
					<ul class="no-bullet row collapse">
						<li data-languages="true" class="columns small-12 large-6 medium-12">
							<a>{{ country-names.belgium }}</a>
							<div class="select-language hide">
								<h5>{{ header.choose-your-language }}</h5>
								<ul class="button-group even-3">
									<li><a data-country-code="en-be" data-region-code="Belgium" href="{{ file-path }}en-be" class="language-select-link button small">{{ languages.english }}</a></li>
									<li><a data-country-code="nl-be" data-region-code="Belgium" href="{{ file-path }}nl-be" class="language-select-link button small">{{ languages.dutch }}</a></li>
									<li><a data-country-code="fr-be" data-region-code="Belgium" href="{{ file-path }}fr-be" class="language-select-link button small">{{ languages.french }}</a></li>
								</ul>
							</div>
						</li>
						<li data-languages="true" class="columns small-12 large-6 medium-12">
							<a>{{ country-names.netherlands }}</a>
							<div class="select-language hide">
								<h5>{{ header.choose-your-language }}</h5>
								<ul class="button-group even-2">
									<li><a data-country-code="en-nl" data-region-code="Netherlands" href="{{ file-path }}en-nl" class="language-select-link button small">{{ languages.english }}</a></li>
									<li><a data-country-code="nl-nl" data-region-code="Netherlands" href="{{ file-path }}nl-nl" class="language-select-link button small">{{ languages.dutch }}</a></li>
								</ul>
							</div>
						</li>
					</ul>
					<ul class="no-bullet row collapse">
						<li data-languages="true" class="columns small-12 large-6 medium-12">
							<a>{{ country-names.canada }}</a>
							<div class="select-language hide">
								<h5>{{ header.choose-your-language }}</h5>
								<ul class="button-group even-2">
									<li><a data-country-code="en-ca" data-region-code="Canada" href="{{ file-path }}en-ca" class="language-select-link button small">{{ languages.english }}</a></li>
									<li><a data-country-code="fr-ca" data-region-code="Canada" href="{{ file-path }}fr-ca" class="language-select-link button small">{{ languages.french }}</a></li>
								</ul>
							</div>
						</li>
						<li data-languages="true" class="columns small-12 large-6 medium-12">
							<a>{{ country-names.norway }}</a>
							<div class="select-language hide">
								<h5>{{ header.choose-your-language }}</h5>
								<ul class="button-group even-2">
									<li><a data-country-code="en-no" data-region-code="Norway" href="{{ file-path }}en-no" class="language-select-link button small">{{ languages.english }}</a></li>
									<li><a data-country-code="nb-no" data-region-code="Norway" href="{{ file-path }}nb-no" class="language-select-link button small">{{ languages.norwegian }}</a></li>
								</ul>
							</div>
						</li>
					</ul>
					<ul class="no-bullet row collapse">
						<li data-languages="true" class="columns small-12 large-6 medium-12">
							<a>{{ country-names.denmark }}</a>
							<div class="select-language hide">
								<h5>{{ header.choose-your-language }}</h5>
								<ul class="button-group even-2">
									<li><a data-country-code="en-dk" data-region-code="Denmark" href="{{ file-path }}en-dk" class="language-select-link button small">{{ languages.english }}</a></li>
									<li><a data-country-code="da-dk" data-region-code="Denmark" href="{{ file-path }}da-dk" class="language-select-link button small">{{ languages.danish }}</a></li>
								</ul>
							</div>
						</li>
						<li data-languages="true" class="columns small-12 large-6 medium-12">
							<a>{{ country-names.spain }}</a>
							<div class="select-language hide">
								<h5>{{ header.choose-your-language }}</h5>
								<ul class="button-group even-2">
									<li><a data-country-code="en-es" data-region-code="Spain" href="{{ file-path }}en-es" class="language-select-link button small">{{ languages.english }}</a></li>
									<li><a data-country-code="es-es" data-region-code="Spain" href="{{ file-path }}es-es" class="language-select-link button small">{{ languages.spanish }}</a></li>
								</ul>
							</div>
						</li>
					</ul>
					<ul class="no-bullet row collapse">
						<li data-languages="true" class="columns small-12 large-6 medium-12">
							<a>{{ country-names.france }}</a>
							<div class="select-language hide">
								<h5>{{ header.choose-your-language }}</h5>
								<ul class="button-group even-2">
									<li><a data-country-code="en-fr" data-region-code="France" href="{{ file-path }}en-fr" class="language-select-link button small">{{ languages.english }}</a></li>
									<li><a data-country-code="fr-fr" data-region-code="France" href="{{ file-path }}fr-fr" class="language-select-link button small">{{ languages.french }}</a></li>
								</ul>
							</div>
						</li>
						<li data-languages="true" class="columns small-12 large-6 medium-12">
							<a>{{ country-names.sweden }}</a>
							<div class="select-language hide">
								<h5>{{ header.choose-your-language }}</h5>
								<ul class="button-group even-2">
									<li><a data-country-code="en-sv" data-region-code="Sweden" href="{{ file-path }}en-se" class="language-select-link button small">{{ languages.english }}</a></li>
									<li><a data-country-code="sv-sv" data-region-code="Sweden" href="{{ file-path }}sv-se" class="language-select-link button small">{{ languages.swedish }}</a></li>
								</ul>
							</div>
						</li>
					</ul>
					<ul class="no-bullet row collapse">
						<li data-languages="true" class="columns small-12 large-6 medium-12">
							<a>{{ country-names.germany }}</a>
							<div class="select-language hide">
								<h5>{{ header.choose-your-language }}</h5>
								<ul class="button-group even-2">
									<li><a data-country-code="en-de" data-region-code="{{ languages.german }}y" href="{{ file-path }}en-de" class="language-select-link button small">{{ languages.english }}</a></li>
									<li><a data-country-code="de-de" data-region-code="{{ languages.german }}y" href="{{ file-path }}de-de" class="language-select-link button small">{{ languages.german }}</a></li>
								</ul>
							</div>
						</li>
						<li data-languages="false" class="columns small-12 large-6 medium-12"><a data-country-code="en-gb" data-region-code="United Kingdom" href="{{ file-path }}en-gb" class="language-select-link ">United Kingdom</a></li>
					</ul>
					<ul class="no-bullet row collapse">
						<li data-languages="true" class="columns small-12 large-6 medium-12">
							<a>{{ country-names.italy }}</a>
							<div class="select-language hide">
								<h5>{{ header.choose-your-language }}</h5>
								<ul class="button-group even-2">
									<li><a data-country-code="en-it" data-region-code="Italy" href="{{ file-path }}en-it" class="language-select-link button small">{{ languages.english }}</a></li>
									<li><a data-country-code="it-it" data-region-code="Italy" href="{{ file-path }}it-it" class="language-select-link button small">{{ languages.italian }}</a></li>
								</ul>
							</div>
						</li>
						<li data-languages="true" class="columns small-12 large-6 medium-12">
							<a>{{ country-names.united-states }}</a>
							<div class="select-language hide">
								<h5>{{ header.choose-your-language }}</h5>
								<ul class="button-group even-2">
									<li><a data-country-code="en-us" data-region-code="United States" href="{{ file-path }}" class="language-select-link button small">{{ languages.english }}</a></li>
									<li><a data-country-code="es-us" data-region-code="United States" href="{{ file-path }}es-us" class="language-select-link button small">{{ languages.spanish }}</a></li>
								</ul>
							</div>
						</li>
					</ul>
					<ul class="no-bullet row collapse">
						<li data-languages="true" class="columns small-12 large-6 medium-12">
							<a>{{ country-names.rest-of-europe }}</a>
							<div class="select-language hide">
								<h5>{{ header.choose-your-language }}</h5>
								<ul class="button-group even-3">
									<li><a data-country-code="en-eu" data-region-code="Rest of Europe" href="{{ file-path }}en-eu" class="language-select-link button small">{{ languages.english }}</a></li>
									<li><a data-country-code="es-eu" data-region-code="Rest of Europe" href="{{ file-path }}es-eu" class="language-select-link button small">{{ languages.spanish }}</a></li>
									<li><a data-country-code="it-eu" data-region-code="Rest of Europe" href="{{ file-path }}it-eu" class="language-select-link button small">{{ languages.italian }}</a></li>
								</ul>
								<ul class="button-group even-3">
									<li><a data-country-code="nl-eu" data-region-code="Rest of Europe" href="{{ file-path }}nl-eu" class="language-select-link button small">{{ languages.dutch }}</a></li>
									<li><a data-country-code="de-eu" data-region-code="Rest of Europe" href="{{ file-path }}de-eu" class="language-select-link button small">{{ languages.german }}</a></li>
									<li><a data-country-code="fr-eu" data-region-code="Rest of Europe" href="{{ file-path }}fr-eu" class="language-select-link button small">{{ languages.french }}</a></li>
								</ul>
								<ul class="button-group even-3">
									<li><a data-country-code="sv-eu" data-region-code="Rest of Europe" href="{{ file-path }}sv-eu" class="language-select-link button small">{{ languages.swedish }}</a></li>
									<li><a data-country-code="da-eu" data-region-code="Rest of Europe" href="{{ file-path }}da-eu" class="language-select-link button small">{{ languages.danish }}</a></li>
									<li><a data-country-code="nb-eu" data-region-code="Rest of Europe" href="{{ file-path }}nb-eu" class="language-select-link button small">{{ languages.norwegian }}</a></li>
								</ul>
							</div>
						</li>
						<li data-languages="true" class="columns small-12 large-6 medium-12">
							<a>{{ country-names.rest-of-the-world }}</a>

							<div class="select-language hide">
								<h5>{{ header.choose-your-language }}</h5>
								<ul class="button-group even-3">
									<li><a data-country-code="en-wo" data-region-code="Rest of World" href="{{ file-path }}en-wo" class="language-select-link button small">{{ languages.english }}</a></li>
									<li><a data-country-code="es-wo" data-region-code="Rest of World" href="{{ file-path }}es-wo" class="language-select-link button small">{{ languages.spanish }}</a></li>
									<li><a data-country-code="it-wo" data-region-code="Rest of World" href="{{ file-path }}it-wo" class="language-select-link button small">{{ languages.italian }}</a></li>
								</ul>
								<ul class="button-group even-3">
									<li><a data-country-code="nl-wo" data-region-code="Rest of World" href="{{ file-path }}nl-wo" class="language-select-link button small">{{ languages.dutch }}</a></li>
									<li><a data-country-code="de-wo" data-region-code="Rest of World" href="{{ file-path }}de-wo" class="language-select-link button small">{{ languages.german }}</a></li>
									<li><a data-country-code="fr-wo" data-region-code="Rest of World" href="{{ file-path }}fr-wo" class="language-select-link button small">{{ languages.french }}</a></li>
								</ul>
								<ul class="button-group even-3">
									<li><a data-country-code="sv-wo" data-region-code="Rest of World" href="{{ file-path }}sv-wo" class="language-select-link button small">{{ languages.swedish }}</a></li>
									<li><a data-country-code="da-wo" data-region-code="Rest of World" href="{{ file-path }}da-wo" class="language-select-link button small">{{ languages.danish }}</a></li>
									<li><a data-country-code="nb-wo" data-region-code="Rest of World" href="{{ file-path }}nb-wo" class="language-select-link button small">{{ languages.norwegian }}</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- / .language-selector -->
</div>
<!-- #language-selector -->